{% from "_renderfield.html" import renderfield %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
  </head>
  <body>
    <h1>Login Form</h1>
    <form method="POST" action="/">
      <ul>
        {{ form.csrf_token }} 
        {{renderfield(form.username)}} {{renderfield(form.password)}} {{renderfield(form.age)}}
        {{renderfield(form.yes_no)}} {{renderfield(form.email)}} 
        {{renderfield(form.first_name)}} {{renderfield(form.second_name)}}
        {{renderfield(form.home_phone)}}
        {{renderfield(form.mobile_phone)}}

        {% for form in form.years %}
            {{renderfield(form)}}
        {% endfor %}

      <button>Login</button>
    </form>
  </body>
</html>
